/* .donate_div_img{
    width: 100%;
    height: auto;
    margin-top: 50px;
    
}
.donate_img{
    width: 1900px;
    height: 1000px;
}

.donate_all{
    margin-top: 5%;
    width: 100%;
    height: auto;
}

.donate_left{
    float: left;
    width: 50%;
}

.donate_left_div_img{
    width: 100%;
    height: auto;
    margin-left: 30%;
}

.donate_left_img{
    width: 470px;
    height: 470px;
    border: 1px solid black;
    border-radius: 18px;
}

.donate_left_div_img2{
    width: 100%;
    height: auto;
    margin-left: 30%;
    margin-top: 30px;
}
.donate_left_img2{
    width: 470px;
    height: 470px;
    border: 1px solid black;
    border-radius: 18px;
}

.donate_left_div_price{
    margin-top: 30px;
    width: 475px;
    height: 181px;
    margin-left: 30%;
    border: 1px solid #e3e6f1;
    border-radius: 18px;
}

.donate_left_div_price_top{
    width: 100%;
    height: 40%;
    background-color: #f3f9f6;
    border-radius: 18px 18px 0px 0px;
}

.donate_left_div_price_bot{
    width: 100%;
    height: 60%;
}

.donate_right{
    float: left;
    width: 50%;
} */