.assetPurchaseCard {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #efedf2;

  @media screen and (min-width: 1024px) {
    flex-direction: row;
    width: 1024px;
    height: 400px;
  }

  .content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media screen and (min-width: 1024px) {
      flex-direction: row;
      height: 100%;
    }

    .img {
      width: 100%;

      @media screen and (min-width: 1024px) {
        width: 400px;
      }

      .wrapper {
        position: relative;
      }
    }

    .info {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-top: 32px;

      @media screen and (min-width: 1024px) {
        margin-top: 0;
        margin-left: 32px;
      }

      .top {
        margin-bottom: 32px;
        .subtitle {
          text-transform: uppercase;
          color: #262626;
          font-size: 20px;
          font-weight: 500;
          letter-spacing: 2.6px;
          line-height: 30px;
          margin-bottom: 4px;
        }

        .title {
          color: #262626;
          font-size: 40px;
          font-weight: 500;
          letter-spacing: 0;
          line-height: 48px;
        }

        .price {
          color: #262626;
          font-size: 28px;
          letter-spacing: 0;
          line-height: 36px;
          margin-bottom: 12px;
        }

        .description {
          color: #262626;
          font-size: 16px;
          letter-spacing: 0;
          margin-bottom: 12px;
        }

        .userInfo {
          display: flex;

          .creator {
            display: flex;
            flex-direction: column;
            margin-right: 55px;
            label {
              color: #262626;
              font-family: Avenir;
              font-size: 16px;
              font-weight: 500;
              letter-spacing: 0;
              line-height: 24px;
            }

            span {
              color: #262626;
              font-family: Avenir;
              font-size: 16px;
              font-weight: 900;
              letter-spacing: 0;
              line-height: 24px;
            }
          }

          .owner {
            display: flex;
            flex-direction: column;
            label {
              color: #262626;
              font-family: Avenir;
              font-size: 16px;
              font-weight: 500;
              letter-spacing: 0;
              line-height: 24px;
            }

            span {
              color: #262626;
              font-family: Avenir;
              font-size: 16px;
              font-weight: 900;
              letter-spacing: 0;
              line-height: 24px;
            }
          }
        }
      }

      .bottom {
        .actions {
          display: flex;

          .select {
            flex: 1;
          }

          .btn {
            border-radius: 0 6px 6px 0;
            font-size: 20px;
            font-weight: bold;
            padding: 13px 20px;
            letter-spacing: 2.6px;
            line-height: 30px;
            text-align: center;
            color: #ffffff;
          }
        }
      }
    }
  }
  .num {
    margin-top: 24px;
    color: #262626;
    font-family: Avenir;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 24px;
    width: 100%;
  }
}
