.introduction {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 90px 24px 160px;
  background-color: #2a252c;

  @media (min-width: 1024px) {
    padding: 180px 24px 160px;
  }

  .title {
    color: #ffffff;
    font-size: 44px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 48px;
    margin-bottom: 16px;
  }

  .desc {
    color: #ffffff;
    font-family: Avenir;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 30px;
    margin-bottom: 72px;
    width: 100%;
    text-align: center;
  }
}

.steps {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  justify-content: space-between;
}

.step {
  width: 45%;
  @media screen and (min-width: 1024px) {
    width: 25%;
  }
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;

  .stepTitle {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 2.6px;
    line-height: 30px;
    text-align: center;
  }

  .stepDesc {
    font-family: Avenir;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 22px;
    max-width: 300px;
    text-align: center;
  }
}
