<configuration>
<system.webServer>
<staticContent>
<mimeMap fileExtension=".data.gz" mimeType="application/octet-stream" />
<mimeMap fileExtension=".wasm.gz" mimeType="application/wasm" />
<mimeMap fileExtension=".js.gz" mimeType="application/javascript" />
<mimeMap fileExtension=".symbols.json.gz" mimeType="application/octet-stream" />
<mimeMap fileExtension=".data.br" mimeType="application/octet-stream" />
<mimeMap fileExtension=".wasm.br" mimeType="application/wasm" />
<mimeMap fileExtension=".js.br" mimeType="application/javascript" />
<mimeMap fileExtension=".symbols.json.br" mimeType="application/octet-stream" />
<mimeMap fileExtension=".unityweb" mimeType="TYPE/SUBTYPE" />
<mimeMap fileExtension=".data" mimeType="application/octet-stream" />

</staticContent>
        <directoryBrowse enabled="true" />
        <httpProtocol>
            <customHeaders>
                <add name="strict-origin-when-cross-origin" value="*" />
            </customHeaders>
        </httpProtocol>
</system.webServer>
</configuration>