.layout {
  overflow: hidden;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(
    180deg,
    #efedf2 0%,
    #efedf2 26.19%,
    #efedf2 30.73%,
    #ffffff 49.57%,
    #efedf2 87.21%,
    #efedf2 100%
  );
}

.footer {
  width: 100%;
  display: flex;
  flex-direction: column;

  .top {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 36px 20px;

    .info {
      display: flex;
      justify-content: center;

      @media screen and (min-width: 1024px) {
        justify-content: space-between;
      }

      .brand {
        display: none;

        @media screen and (min-width: 1024px) {
          display: flex;
        }

        align-items: center;

        .logoText {
          margin-left: 20px;
          font-size: 38px;
          font-weight: 500;
        }
      }

      .contact {
        display: flex;
        flex-direction: column;

        @media screen and (min-width: 1024px) {
          flex-direction: row;
          align-items: center;
        }

        text-transform: uppercase;
        color: #262626;
        font-size: 16px;
        font-weight: 700;
        line-height: 22px;

        div {
          margin-bottom: 15px;
          text-align: center;

          @media screen and (min-width: 1024px) {
            margin: 0 16px;
          }
        }
      }
    }

    .power {
      display: none;

      @media screen and (min-width: 1024px) {
        display: flex;
      }

      align-items: center;
      margin-right: 10px;
    }

    .powerText {
      margin-left: 10px;
      font-size: 15px;
      font-weight: 500;
      margin-right: 10px;
    }

    .links {
      display: flex;
      align-items: center;
      justify-content: center;

      @media screen and (min-width: 1024px) {
        justify-content: flex-end;
      }

      margin-top: 5px;

      .link {
        margin: 0 12px;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  .bottom {
    padding: 16px 20px;
    background-color: #2a252c;
    color: #fff;
    display: flex;
    justify-content: center;

    @media screen and (min-width: 1024px) {
      justify-content: flex-end;
    }
  }
}
