.introduction {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 56px;
}

.section {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1024px;
  padding: 90px 24px 16px;
  align-items: center;
  justify-content: center;

  @media (min-width: 1024px) {
    padding: 180px 24px 0px;
  }

  .content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .subtitle {
    align-self: flex-start;
  }

  @media screen and (min-width: 1024px) {
    flex-direction: row-reverse;
  }

  .image {
    position: absolute;
    top: -17px;
    width: 70%;
    height: 70%;
    opacity: 0.1;
  }

  @media screen and (min-width: 1024px) {
    .image {
      opacity: 1;
      width: 40%;
      position: relative;
      aspect-ratio: 1;
      margin-left: 40px;
    }
  }

  .title {
    color: #262626;
    font-size: 32px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 40px;
    margin-bottom: 16px;

    @media screen and (min-width: 1024px) {
      font-size: 60px;
      line-height: 63px;
    }
  }

  .desc {
    font-family: Avenir;
    font-size: 22px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 34px;
    margin-bottom: 40px;
    align-self: flex-start;
  }

  .actions {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;

    @media screen and (min-width: 640px) {
      flex-direction: row;
    }

    .btn {
      flex: 1;
      margin-bottom: 16px;
      color: #ffffff;
      font-size: 13px;
      font-weight: bold;
      letter-spacing: 2px;
      line-height: 30px;
      text-align: center;
      border-radius: 6px;
      padding: 10px 0;
      margin-bottom: 16px;

      @media screen and (min-width: 640px) {
        margin: 0 4px;
      }
    }

    .btnforclaim {
      flex: 1;
      margin-bottom: 16px;
      color: #ffffff;
      font-size: 20px;
      font-weight: bold;
      letter-spacing: 2px;
      line-height: 30px;
      text-align: center;
      border-radius: 6px;
      padding: 10px 0;
      margin-bottom: 16px;
      //background: linear-gradient(90deg, red, blue);
      background: linear-gradient(
        90deg,
        rgba(255, 0, 0, 1) 0%,
        rgba(255, 154, 0, 1) 10%,
        rgba(208, 222, 33, 1) 20%,
        rgba(79, 220, 74, 1) 30%,
        rgba(63, 218, 216, 1) 40%,
        rgba(47, 201, 226, 1) 50%,
        rgba(28, 127, 238, 1) 60%,
        rgba(95, 21, 242, 1) 70%,
        rgba(186, 12, 248, 1) 80%,
        rgba(251, 7, 217, 1) 90%,
        rgba(255, 0, 0, 1) 100%
      );

      @media screen and (min-width: 640px) {
        margin: 0 4px;
      }
    }
  }
}

.freeMintImage {
  position: relative;
  width: 100%;
  padding: 0 24px;

  @media (min-width: 1024px) {
    padding: 0 56px;
    max-width: 1024px;
  }
}

.videoWrapper {
  position: relative;
  width: 100%;
  height: 100%;
  padding-bottom: 50.25%;

  .video {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
  }
}

.categorySection {
  padding: 90px 24px 56px;

  .image {
    width: 50%;
    aspect-ratio: 1;
    position: relative;
    margin-bottom: 32px;
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .title {
    color: #262626;
    font-size: 32px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 40px;
    margin-bottom: 16px;
  }

  .subtitle {
    color: #262626;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 2px;
    line-height: 24px;
    margin-bottom: 12px;
  }

  .desc {
    font-family: Avenir;
    font-size: 22px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 34px;
    margin-bottom: 40px;
    align-self: flex-start;
  }

  .actions {
    width: 100%;
  }

  .btn {
    width: 100%;
    margin-bottom: 16px;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 2px;
    line-height: 30px;
    text-align: center;
    border-radius: 6px;
    padding: 10px 0;
    margin-bottom: 16px;
  }
}

.card {
  display: flex;
  width: 1024px;
  padding: 90px 0 0;
  align-items: center;
  justify-content: center;

  .item:first-child {
    margin-right: 30px;
  }

  .item:last-child {
    margin-left: 30px;
  }

  .content {
    width: 60%;

    @media screen and (max-width: 800px) {
      width: 90%;
    }

    .category {
      color: #262626;
      font-size: 20px;
      font-weight: 500;
      letter-spacing: 2.6px;
      line-height: 30px;
      margin-bottom: 12px;
    }

    .title {
      color: #262626;
      font-size: 60px;
      font-weight: 500;
      letter-spacing: 0;
      line-height: 63px;
      margin-bottom: 16px;
    }

    .desc {
      font-family: Avenir Book;
      font-size: 22px;
      font-weight: 300;
      letter-spacing: 0;
      line-height: 34px;
      margin-bottom: 40px;
    }

    .actions {
      display: flex;

      .action {
        margin: 0 12px;
      }

      .action:first-child {
        margin-left: 0;
      }

      .btn {
        flex: 1;
        margin-bottom: 16px;
        color: #ffffff;
        font-size: 16px;
        font-weight: bold;
        letter-spacing: 2px;
        line-height: 30px;
        text-align: center;
        border-radius: 6px;
        padding: 10px 50px;
        margin-bottom: 16px;
      }
    }
  }

  .img {
    width: 40%;
    position: relative;
    aspect-ratio: 1;
  }
}

.dialogContent {
  display: flex;
  flex-direction: column;
  align-items: center;

  .imgWrapper {
    width: 100%;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    position: relative;
  }

  .title {
    color: #262626;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 2.6px;
    line-height: 30px;
    text-align: center;
    margin: 56px 0 4px;
  }

  .msg {
    color: #262626;
    font-family: Fredoka;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 48px;
    margin-bottom: 32px;
  }
}
