.about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  position: relative;
  margin-bottom: -200px;

  .aboutus {
    background-color: #2a252c;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 270px;

    .content {
      padding: 56px 24px;
      .title {
        display: flex;
        justify-content: center;
        color: #ffffff;
        font-size: 20px;
        font-weight: 500;
        letter-spacing: 2.6px;
        line-height: 30px;
        text-transform: uppercase;
        margin-bottom: 12px;
      }

      .desc {
        color: #ffffff;
        font-size: 32px;
        font-weight: 500;
        letter-spacing: 0;
        line-height: 40px;
        max-width: 800px;
        text-align: center;
      }
    }
  }

  .info {
    width: 90%;
    background-color: #efedf2;
    transform: translateY(-270px);
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
  }

  .roadmap {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateY(-400px);

    .title {
      color: #262626;
      font-size: 20px;
      font-weight: 500;
      letter-spacing: 2.6px;
      line-height: 30px;
      text-transform: uppercase;
      text-align: center;
      margin-bottom: 50px;
    }

    .content {
      position: relative;
      width: 90%;
      aspect-ratio: 128 / 75;
    }
  }
}
