.circleWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 121px;
  height: 121px;
}

.circle {
  background: #2a252c;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.md {
  width: 121px;
  height: 121px;

  color: #ffffff;
  font-size: 28px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 38px;
  text-align: center;
}

.sm {
  width: 77px;
  height: 77px;

  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 38px;
  text-align: center;
}

.line {
  box-sizing: border-box;
  height: 1px;
  width: 100%;
  border: 3px solid #2a252c;
  border-radius: 20px;
}

.roadmapChart {
  width: 100%;

  .plots {
    width: 100%;
    display: flex;
    justify-content: space-around;
    transform: translate(0, -65px);
  }
}

.plot {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;

  .time {
    opacity: 0.2;
    color: #262626;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1.3px;
    line-height: 18px;
    text-align: center;
    margin: 22px 0 4px;
  }

  .items {
    color: #262626;
    font-family: Avenir;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 24px;
    max-width: 200px;
  }
}
