.modify-page-p {
  width: 100%;
  height: 100%;
  padding: 0 67px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  .flex {
    justify-content: center;
  }
  .flex-1 {
    display: flex;
  }
  .modify-left {

  }
  .modify-right {
    .right-panel {
      background-color: white;
      border-radius: 10px;
      .select-bar {
        .select-box {
          width: 71px;
          height: 66px;
          box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
        }
      }
    }
    .font-setting {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      width: 550px;
    }
  }
  .btn-wrap {
    box-shadow: 25px 0px 8px -5px #F7C4FF,
    -25px 0px 8px -5px #96E1FF;
    width: 263px;
  }
  .confirm-btn {
    width: 314px;
    transform: skew(-30deg);
  }
}
.bg-preview {
  width: 35px;
  height: 30px;
  transform: skew(20deg);
}
.text-preview {
  width: 35px;
  height: 35px;
  border-radius: 10px;
  border: 1px solid #000000;
}
.outer-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  margin-top: 206px;
  .template-card-container {
    width: 600px;
    height: 386px;
  }
}
.ant-select-selection-item {
  font-size: 20px !important;
}