.defaultCarousel {
  width: var(--desktop-content-width);
  margin-bottom: 140px;

  .header {
    height: 40px;
    margin-bottom: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .left {
      display: flex;
      align-items: center;

      .title {
        color: #262626;
        font-size: 20px;
        font-weight: 500;
        letter-spacing: 2.6px;
        line-height: 30px;
        text-transform: uppercase;
        margin-right: 24px;
      }
    }

    .right {
      display: flex;
      align-items: center;

      .num {
        color: #262626;
        font-family: Avenir;
        font-size: 20px;
        font-weight: 600;
        letter-spacing: 0;
        line-height: 24px;
        margin: 0 8px;
      }

      .nav {
        display: flex;
        align-items: center;
      }
    }
  }

  .viewAllGrid {
    .viewAllGridItem {
      display: inline-block;
      margin: calc((var(--desktop-content-width) - 300px * 4) / 8);
    }
  }

  .swiper {
    overflow: visible;

    .swiperSlide {
      width: auto;
      height: 300px;
    }
  }

  .imageText {
    text-align: center;
  }
}

.nextButton {
  margin-left: 8px;

  &:hover {
    cursor: pointer;
  }
}

.prevButton {
  margin-right: 8px;

  &:hover {
    cursor: pointer;
  }
}

.effectCarousel {
  width: 100%;
  .swiper {
    padding: 60px 0 60px;
  }

  .swiperSlider {
    width: 568px;
    height: 568px;

    @media screen and (max-width: 768px) {
      width: 300px;
      height: 300px;
    }
  }

  .text {
    text-align: center;
  }
}
