.dropScreen {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .assetsSection {
    width: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 82px 0;

    .ribbon {
      width: 100%;
    }
  }
}
