.composer {
  display: flex;
  flex-direction: column;
  height: 100%;
  .root {
    overflow: initial;
    min-height: auto;
  }
  .indicator {
    background-color: transparent;
  }

  .tab {
    color: #a2a1a3;
    font-family: Fredoka;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2.6px;
    line-height: 30px;
    text-align: center;
    padding: 16px 32px;

    border-radius: 6px 6px 0 0;
    background-color: #f5f4f7;

    margin-right: 4px;

    &.selected {
      color: #262626;
      background-color: #ffffff;
    }
  }

  .panel {
    height: 100%;
    width: 100%;

    @media screen and (min-width: 1024px) {
      width: calc(1024px - 32px - 400px);
    }

    border-radius: 0 6px 6px 6px;
    background-color: #ffffff;
    padding: 8px 32px 32px;
    display: flex;
    flex-direction: column;

    .base {
      height: 100%;
      display: flex;
      flex-direction: column;
      .img {
        height: 100%;
        aspect-ratio: 1;
        position: relative;

        @media screen and (min-width: 1024px) {
          aspect-ratio: auto;
        }
      }
    }

    .elements {
      flex: 1;
      display: flex;
      flex-direction: column;
    }
  }
}

.info {
  display: flex;
  justify-content: space-between;

  .item {
    .title {
      opacity: 0.2;
      color: #262626;
      font-family: Fredoka;
      font-size: 16px;
      font-weight: 500;
      letter-spacing: 1.3px;
      line-height: 18px;
      margin-bottom: 4px;
    }

    .text {
      color: #262626;
      font-family: Avenir;
      font-size: 18px;
      font-weight: 900;
      letter-spacing: 0;
      line-height: 24px;
    }
  }
}
