.header {
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  z-index: 999;

  .content {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1024px;
  }

  .brand {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;

    @media screen and (min-width: 1024px) {
      justify-content: flex-start;
    }

    .logoText {
      margin-left: 15px;
      font-size: 24px;
      font-weight: 500;

      @media screen and (min-width: 1024px) {
        font-size: 44px;
      }
    }
  }

  .brand:hover {
    cursor: pointer;
  }

  .links {
    display: flex;
    align-items: center;

    .navs {
      display: flex;
      align-items: center;

      font-size: var(--header-nav-font-size);
      font-weight: 600;
      line-height: 22px;

      .link {
        margin: var(--header-nav-item-margin);
        padding: 10px 0;

        &.active {
          border-bottom: 3px solid;
        }
      }
    }
  }
}

.icon {
  font-size: 24px !important;

  @media screen and (min-width: 1024px) {
    font-size: 44px !important;
  }
}

.loginPopup {
  aspect-ratio: 960 / 667;
}

.mobileMenu {
  display: flex;
  width: 100%;

  @media screen and (min-width: 1024px) {
    display: none;
  }
}

.desktopMenu {
  display: none;

  @media screen and (min-width: 1024px) {
    display: flex;
    width: 100%;
  }
}
