@import '~@/assets/style/public.scss';

@import '~@/assets/style/icon/glyphicon.scss';

// 补丁 base
@import '~@/assets/style/fixed/base.scss';
// 补丁 element
@import '~@/assets/style/fixed/element.scss';
// 补丁 n-progress
@import '~@/assets/style/fixed/n-progress.scss';

// 动画
@import '~@/assets/style/animate/vue-transition.scss';

// 在这里写公用的class
// 注意 这个文件里只写class
// mixin等内容请在 public.scss 里书写
// 占位符
.#{$prefix}-place {
  width: 1px;
  height: 1px;
}

// 文字位置
.#{$prefix}-text-center {
  text-align: center;
}
.#{$prefix}-text-left {
  text-align: left;
}
.#{$prefix}-text-right {
  text-align: right;
}
// 文字颜色
.#{$prefix}-tc-white {
  color: #ffffff;
}
.#{$prefix}-tc-red {
  color: #ff3e3e;
}


// 内容对其方式
.#{$prefix}-tl {
  text-align: left;
}
.#{$prefix}-tr {
  text-align: right;
}

// 浮动相关
.#{$prefix}-fl {
  float: left;
}
.#{$prefix}-fr {
  float: right;
}
.#{$prefix}-clearfix:before,
.#{$prefix}-clearfix:after {
  display: table;
  content: "";
}
.#{$prefix}-clearfix:after {
  clear: both
}

// 边距相关
$sizes: (0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50);

@for $index from 1 to 7 {
  .#{$prefix}-m-#{nth($sizes, $index)} { margin: #{nth($sizes, $index)}px !important; }
  .#{$prefix}-mt-#{nth($sizes, $index)} { margin-top: #{nth($sizes, $index)}px !important; }
  .#{$prefix}-mr-#{nth($sizes, $index)} { margin-right: #{nth($sizes, $index)}px !important; }
  .#{$prefix}-mb-#{nth($sizes, $index)} { margin-bottom: #{nth($sizes, $index)}px !important; }
  .#{$prefix}-ml-#{nth($sizes, $index)} { margin-left: #{nth($sizes, $index)}px !important; }

  .#{$prefix}-p-#{nth($sizes, $index)} { padding: #{nth($sizes, $index)}px !important; }
  .#{$prefix}-pt-#{nth($sizes, $index)} { padding-top: #{nth($sizes, $index)}px !important; }
  .#{$prefix}-pr-#{nth($sizes, $index)} { padding-right: #{nth($sizes, $index)}px !important; }
  .#{$prefix}-pb-#{nth($sizes, $index)} { padding-bottom: #{nth($sizes, $index)}px !important; }
  .#{$prefix}-pl-#{nth($sizes, $index)} { padding-left: #{nth($sizes, $index)}px !important; }
}

.#{$prefix}-m { margin: 20px !important; }
.#{$prefix}-mt { margin-top: 20px !important; }
.#{$prefix}-mr { margin-right: 20px !important; }
.#{$prefix}-mb { margin-bottom: 20px !important; }
.#{$prefix}-ml { margin-left: 20px !important; }

.#{$prefix}-p { padding: 20px !important; }
.#{$prefix}-pt { padding-top: 20px !important; }
.#{$prefix}-pr { padding-right: 20px !important; }
.#{$prefix}-pb { padding-bottom: 20px !important; }
.#{$prefix}-pl { padding-left: 20px !important; }

.#{$prefix}-pointer {
  cursor: pointer;
}

// 边框
.#{$prefix}-no-radius {
   border-radius: initial !important;
}
.#{$prefix}-no-radius {
  .el-input__inner {
    border-radius: initial !important;
  }
}

// 表格
.#{$prefix}-th {
  thead {
    background-color: #F6F7FB;
    tr {
      background-color: #F6F7FB;
      th {
        background-color: #F6F7FB;
      }
    }
  }
}

.#{$prefix}-tips-icon {
  margin-left: 5px;
  color: #b5b5b5;
}

.#{$prefix}-href {
  color: #009AFF;
  &:visited {
    color: #009AFF;
  }
}
