// 优化显示
html, body {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: "PingFangSC-Regular", "PingFang", "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  #app {
    @extend %full;
    background: #f2f6fa;
    a {
      text-decoration: none;
    }
  }
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
p {
  margin: 0;
}
html {
  font-size: 62.5%;
}
li {
  list-style: none;
}
body {
  font-size: 14px;
}
@media only screen and (min-width: 1366px){
  html {
    font-size: 94%!important;
  }
}
@media only screen and (min-width: 1600px){
  html {
    font-size: 109%!important;
  }
}
@media only screen and (min-width: 1920px){
  html {
    font-size: 125%!important;
  }
}
