// element 样式补丁

/* 改变主题色变量 */
$--color-primary: #fe2270;

/* 改变 icon 字体路径变量，必需 */
$--font-path: '~element-ui/lib/theme-chalk/fonts';
@import "~element-ui/packages/theme-chalk/src/index";

// 卡片样式重置
.el-card {
  &.is-always-shadow {
    box-shadow: 0 0 8px 0 rgba(232,237,250,.6), 0 2px 4px 0 rgba(232,237,250,.5);
  }
  &.is-hover-shadow {
    &:hover {
      box-shadow: 0 0 8px 0 rgba(232,237,250,.6), 0 2px 4px 0 rgba(232,237,250,.5);
    }
  }
}

// 菜单栏样式重置
.el-menu--horizontal {
  border: none !important;
}
.el-menu--popup{
  min-width: 100px !important;
}
.el-menu--popup-bottom-start {
  background-color: #333333 !important;
  margin-top: 0 !important;
  .el-menu-item {
    height: 100% !important;
    background-color: #333333 !important;
  }
}

// 按钮重置
.el-button--primary {
  border-color: #ff5e60 !important;
  background-color: #ff5e60 !important;
  color: #fff !important;
}

// 导航重置
.el-tabs__nav {
  margin-left: 20px;
}

// 标签页样式重置
//.el-tabs__item:focus.is-active.is-focus:not(:active) {
//  box-shadow: none !important;
//}
//.el-tabs--border-card > .el-tabs__header {
//  //height: 62px;
//  background-color: #F0F2F5;
//}
//.el-tabs__nav-wrap {
//  //height: 62px;
//  background-color: #F0F2F5;
//}
//.el-tabs__nav-scroll {
//  //height: 62px;
//  background-color: #F0F2F5;
//}
//.el-tabs__nav {
//  margin-left: 0;
//  //height: 62px;
//  background-color: #F0F2F5;
//}
//.el-tabs--border-card > .el-tabs__header .el-tabs__item {
//  color: #303133;
//  font-size: 16px;
//  height: 62px;
//  line-height: 62px;
//  border-top: 4px solid #F0F2F5;
//  border-bottom: none;
//  border-left: none;
//  border-right: none;
//}
//.el-tabs--border-card > .el-tabs__header .el-tabs__item.is-active {
//  color: #4c84ff;
//  font-size: 16px;
//  height: 62px;
//  border-top: 4px solid #4c84ff;
//  border-bottom: none;
//  border-left: none;
//  border-right: none;s
//}

.el-link.el-link--primary {
  color: #ff5e60 !important;
}
.el-switch.is-checked .el-switch__core {
  border-color: #ff5e60 !important;
  background-color: #ff5e60 !important;
}
.el-tabs__nav-scroll {
  background-color: #fff !important;
  .el-tabs__item {
    background-color: #fff !important;
    border-bottom: 2px solid #ebeef5 !important;
  }
}
.el-tabs__active-bar {
  background-color: #ff5e60 !important;
}
.el-tabs__item {
  color: #1a1a1a !important;
}
.el-tabs__item.is-active {
  color: #ff5e60 !important;
}

.el-input-group--append .el-input__inner:hover, .el-input-group__prepend:hover {
  border-color: #ff5e60 !important;
}
.el-input-group--append .el-input__inner:focus, .el-input-group__prepend:focus {
  border-color: #ff5e60 !important;
}

// element ui upload
.el-upload {
  input[type="file"] {
    display: none !important;
  }
}
.el-upload__input {
  display: none;
}
.upload-container {
  .el-upload {
    width: 100%;
    .el-upload-dragger {
      width: 100%;
      height: 200px;
    }
  }
}

// 弹框样式
.el-dialog__body {
  padding: 0 20px !important;
}

// 提示
.el-tooltip__popper.is-light {
  border-color: #ffffff !important;
  border-radius: 4px 4px 4px 4px !important;
  background-color: rgba(255, 255, 255, 1) !important;
  font-size: 14px !important;
  box-shadow: 0 0 10px 0 rgba(0, 102, 255, 0.15) !important;
}
.el-tooltip__popper.is-light .tips-text {
  color: #666666;
  font-size: 14px;
  text-align: left;
  line-height: 1.5rem;
}
.el-tooltip__popper.is-light[x-placement^="top"] .popper__arrow {
  border-top-color: #ffffff !important;
}
