@import  '~antd/dist/antd.css';


header{
    height:75px;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: #17161b;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index:9999;
}

#app{
    height: 100%;
    background: #ffffff;
}

footer{
    height: 170px;
    width: 100%;
    border: 0ch;
    /* position: relative; */
    /* bottom: 0px; */
    background: white;
    color: #1a285a;
    text-align: center;
    line-height: 70px;
}

.cont{
    height: 100%;
    min-height: 100%;
    /* background: linear-gradient(#414240,#D8D7D7); */
}

